:root {
    --color-light-s: #fafafa;
    --color-light-m: #f6f6f6;

    --color-gray-s: #cdcdcd;
    --color-gray-m: #b2b2b2;

    --color-dark-s: #2a2d3d;
    --color-dark-m: #191a21;

    --color-accent: #5e1f32;
    --color-hover: #962465;

    --dark-border: 2px solid var(--color-dark-s);
    --light-border: 2px solid var(--color-light-s);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

input,
button,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark-m);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-s);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-light-m);
}

button {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s;
    background: var(--color-light-m);
    border: var(--light-border);
    cursor: pointer;
    min-height: 32px;
}

button:hover {
    background: var(--color-hover);
    color: var(--color-light-m);
}

button:active:not(:disabled) {
    scale: 0.95;
}

input:disabled,
button:disabled {
    color: var(--color-dark-s);
    background: var(--color-gray-m);
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(
        to right top,
        #962465,
        #862a70,
        #743078,
        #5f367e,
        #463a80,
        #3a4b91,
        #275b9f,
        #006aaa,
        #008cc6,
        #00afd9,
        #00d1e3,
        #35f2e6
    );
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    gap: 10px;
}

/*---------header---------*/
.header {
    display: flex;
    justify-content: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    max-width: 400px;
}
/*---------controls---------*/
.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 20px auto;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-create,
.form-update {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.create-name,
.update-name {
    outline: none;
    border-radius: 5px;
    border: var(--light-border);
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-accent);
    min-height: 32px;
}

.create-color,
.update-color {
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: var(--light-border);
    min-height: 32px;
}

.race-controls {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/*---------garage-view---------*/

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 auto;
}

.garage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.car {
    margin: 20px 0;
}

.car-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.control-buttons {
    display: flex;
    gap: 8px;
}

.car-name {
    font-size: 24px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    border-bottom: 3px dashed var(--color-dark-m);
}

.track.stop {
    background-color: #962465;
    opacity: 0.7;
}

/*---------winners-view---------*/
.winners-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.hidden {
    display: none;
}

.table {
    max-width: 600px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    margin: 5px 0;
}

.table-head {
    background-color: var(--color-accent);
    color: var(--color-light-m);
}

.table-head,
.table-body {
    text-align: center;
}

.table-body .car-img {
    width: 80px;
}

.table-body tr {
    border: 1px solid var(--color-accent);
}

.table-head tr th {
    padding: 10px 0;
}

/*---------footer---------*/
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.git-link {
    width: 24px;
    transition: all 0.3s ease;
}

.rs-link {
    width: 100px;
}

.year-link,
.git-link,
.rs-link {
    transition: all 0.3s ease;
}

.year-link:hover,
.git-link:hover,
.rs-link:hover {
    transform: scale(1.05);
}
